In [1]:
import sys
import os
import pandas as pd

# Adiciona a pasta raiz do projeto (um nível acima de 'notebooks/') ao path
# Isso permite que o notebook encontre e importe o módulo 'cipo'
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), os.pardir)))

# Agora podemos importar nossas funções
from cipo import fetch_data_neo, process_data_neo, fetch_data_pcc, process_data_pcc

# Configurações do Pandas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)

print("Ambiente configurado. Funções de scraping prontas para uso.")

Módulo 'cipo' carregado. Funções de scraping disponíveis.
Ambiente configurado. Funções de scraping prontas para uso.

In [ ]:
# Executa a busca de dados para NEO
neo_page_text = fetch_data_neo()

if neo_page_text:
    neo_dataframes = process_data_neo(neo_page_text)
    print(f"\nObjetos NEO encontrados: {list(neo_dataframes.keys())}")

Iniciando a busca de dados na página NEO com Selenium...
Dados NEO coletados com sucesso.

Objetos NEO encontrados: ['5JU3621', '5JU4H21', 'A11rtVp', 'A11swfc', 'A11te0q', 'C15ARR5', 'C15C5G5', 'C15C6N5', 'C15C8L5', 'C15FQ25', 'C15FVZ5', 'C15FXN5', 'C15GVQ5', 'C15HHN5', 'C15HU25', 'C15J3R5', 'C15JJX5', 'C15KJZ5', 'C15KM95', 'C15KRV5', 'C15L3Q5', 'C15L8X5', 'C15LGK5', 'C15LGT5', 'C15LQC5', 'C15ND55', 'C15PC35', 'C451771', 'C4517Q1', 'C4518J1', 'CDFZQD2', 'CDH9MC2', 'CDHE5Q2', 'CDHFNP2', 'LA0A8pi', 'ON03877', 'ON04699', 'OP04252', 'OS01973', 'P12erud', 'P12f2Di', 'P12f66r', 'P12fR9i', 'P12fT9x', 'P12fUjs', 'P12fUQu', 'P12fURF', 'P12fXMR', 'P12fXQw', 'P12fYSQ', 'P12fYTh', 'P12fYTs', 'P12fYTt', 'P12fZLu', 'P12fZMm', 'P12g2tX', 'P12g4So', 'P22bZYt', 'P22eEIp', 'P22eumM', 'P22eVrH', 'P22f1nO', 'P22f67g', 'P22fLou', 'P22fP0V', 'P22fP0W', 'P22fPzj', 'P22fPzm', 'P22fR96', 'P22fR97', 'P22fR98', 'P22fR9h', 'P22fTGb', 'P22fTJf', 'P22fTJg', 'P22fU1Y', 'P22fUFj', 'P22fUQs', 'P22fUQv', 'P22fUZw', 'P22fVxE', 'P22fXMO', 'P22fXMP', 'P22fXTu', 'P22fYSP', 'P22g0U7', 'P22g1f2', 'P22g3lm', 'P22g6vp', 'P22g72A', 'P22g72X', 'P22g8dZ', 'P22g9vq', 'TF25J06', 'v27sep5', 'XA65oXA', 'XA73vXA', 'ZTF106N']

In [4]:
# Verifique se a variável existe e tem conteúdo
if 'neo_dataframes' in locals() and neo_dataframes:
    # Escolha um objeto para analisar (copie um nome da saída da célula anterior)
    objeto_alvo = '5JU3621' # <--- SUBSTITUA AQUI

    if objeto_alvo in neo_dataframes:
        df_alvo = neo_dataframes[objeto_alvo]
        display(df_alvo) # `display()` mostra o DataFrame de forma elegante no notebook
    else:
        print(f"Objeto '{objeto_alvo}' não encontrado na lista.")

,Date,UT,R.A. (J2000),Decl,Elong,V,Motion min,Motion PA,Object Azi,Object Alt,Sun Alt,Moon Phase,Moon Dist,Moon Alt
0,2025 10 01,22,00 40 02.3,-35 32 53,141.0,18.6,44.05,108.7,305,+23,-23,0.69,058,+75
1,2025 10 01,23,00 43 30.3,-35 46 59,140.7,18.6,45.03,108.2,308,+34,-38,0.69,058,+71
2,2025 10 02,00,00 47 04.6,-36 00 56,140.4,18.5,46.17,107.4,313,+45,-52,0.70,058,+60
3,2025 10 02,01,00 50 46.5,-36 14 34,140.1,18.5,47.55,106.4,324,+54,-66,0.70,059,+48
4,2025 10 02,02,00 54 37.7,-36 27 44,139.7,18.5,49.25,105.1,341,+60,-77,0.70,059,+34
5,2025 10 02,03,00 58 40.1,-36 40 16,139.4,18.4,51.34,103.7,005,+62,-75,0.71,059,+21
6,2025 10 02,04,01 02 55.8,-36 52 04,139.0,18.4,53.86,102.2,026,+58,-63,0.71,060,+08
7,2025 10 02,05,01 07 27.2,-37 03 01,138.6,18.3,56.85,100.7,040,+50,-49,0.72,060,-05
8,2025 10 02,06,01 12 16.7,-37 13 05,138.2,18.3,60.34,099.1,047,+41,-34,0.72,061,-18
9,2025 10 02,07,01 17 26.4,-37 22 12,137.8,18.3,64.30,097.7,052,+30,-20,0.72,062,-31

In [5]:
# Exemplo: Filtrar o DataFrame por magnitude V < 21
if 'df_alvo' in locals():
    df_filtrado = df_alvo[pd.to_numeric(df_alvo['V']) < 21]
    display(df_filtrado)

,Date,UT,R.A. (J2000),Decl,Elong,V,Motion min,Motion PA,Object Azi,Object Alt,Sun Alt,Moon Phase,Moon Dist,Moon Alt
0,2025 10 01,22,00 40 02.3,-35 32 53,141.0,18.6,44.05,108.7,305,+23,-23,0.69,058,+75
1,2025 10 01,23,00 43 30.3,-35 46 59,140.7,18.6,45.03,108.2,308,+34,-38,0.69,058,+71
2,2025 10 02,00,00 47 04.6,-36 00 56,140.4,18.5,46.17,107.4,313,+45,-52,0.70,058,+60
3,2025 10 02,01,00 50 46.5,-36 14 34,140.1,18.5,47.55,106.4,324,+54,-66,0.70,059,+48
4,2025 10 02,02,00 54 37.7,-36 27 44,139.7,18.5,49.25,105.1,341,+60,-77,0.70,059,+34
5,2025 10 02,03,00 58 40.1,-36 40 16,139.4,18.4,51.34,103.7,005,+62,-75,0.71,059,+21
6,2025 10 02,04,01 02 55.8,-36 52 04,139.0,18.4,53.86,102.2,026,+58,-63,0.71,060,+08
7,2025 10 02,05,01 07 27.2,-37 03 01,138.6,18.3,56.85,100.7,040,+50,-49,0.72,060,-05
8,2025 10 02,06,01 12 16.7,-37 13 05,138.2,18.3,60.34,099.1,047,+41,-34,0.72,061,-18
9,2025 10 02,07,01 17 26.4,-37 22 12,137.8,18.3,64.30,097.7,052,+30,-20,0.72,062,-31